body {
	margin: 0;
	padding: 0;
  text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: white;
}

.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: black;
    color: white;
}

h1 {
	position: absolute;
	top: 20%;
	left: 20%;
	transform: translate(-50%, -50%);
	color: #DA304c;
	text-align: center;
	font-family: "Brush Script MT", cursive;
    font-size: 64px;
    z-index: 1;
}

p {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
	font-size: 24px;
	z-index: 1;
}

.full-screen-image {
	height: 100vh;
	width: 100vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative; /* added this line */
  
}
.text-box {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 500px;
  overflow: visible;
  padding: 20px;
  position: relative;
  text-align: justify;
  width: 50%;
  margin: 0px auto 0;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

footer h2 {
  margin: 0;
}

footer span {
  display: block;
  font-weight: bold;
}

footer h3 {
  margin: 0;
  text-align: right;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footer-left {
  flex: 1;
  order: 1;
}

.footer-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  order: 2;
}

.footer-right iframe {
  margin-left: 20px;
}
